:root{
    --cor-principal: #fff;
    --cor-secundaria: #f0ffff;
    --cor-destaque: #f0ffff;

}

.cabecalho {
    background-color: var(--cor-principal) ;
}

.menu >ul{
    background-color: var(--cor-destaque);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu_item >a{
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    font-variant: small-caps;
    list-style: none;
}

    .menu_item > a:hover{
        color:var(--cor-destaque)
    }
