:root{
    --cor-principal: #fff;
    --cor-secundaria: #f0ffff;
    --cor-destaque: #f0ffff;

}

.cabecalho {
    background-color: var(--cor-destaque) ;
    text-align: center;
    font: size 70px;;
}

h1 {
    font-size: 70px;
    display: inline;
    margin-left: 20px;
    margin-top: 20px;
}

.logo {
  display: inline-flex;
}

.menu >ul{
    background-color: var(--cor-destaque);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.menu_item >a{
text-decoration: none;
font-size: 25px;
color:black;
font-size: 25px;
font-weight: bold;
line-height: 45px;
font-variant: small-caps;
list-style: none;
}

    .menu_item > a:hover{
        color:var(--cor-destaque)
    }

    p{
        text-align: center;
        font-size: 25px;
    }

    .card {
        background-color: var(--cor-destaque);
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.219);
        width: 170px;
        padding: 8px;
        margin: 15px;
        text-align: center;
        display:inline-block;
        transition: transform 0.3s;
      }
      
      .card:hover {
        transform: scale(1.05);
      }
      
      .imagem {
        width: 80%;
        border-radius: 8px;
      }
      
      .nome {
        font-size: 1.2em;
        font-weight: bold;
        margin: 10px 0 5px 0;
      }
      .preco{
        font-size: 0.95em;
        margin: 4px 0;
        color: black;
      }

      .carrinho {
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
        margin:4px 0;
        color: rgb(132, 193, 218);
      }
      
      .topicos {
        font-size: 25px;
        text-align: left;
      }
